.header {
  display: flex;
  justify-content: space-between;
  background-color: #283b7e;
  height: 50px;
}

.header-group {
  width: 300px;
  display: flex;
  justify-content: space-around;
  color: white;
}

.header-group h2, .header-group a, .header-group button {
  margin: auto;
}

.header-group a, .header-button {
  padding: 15px;
  color: lightgray;
  transition: 0.5s;
}

.header-button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 14px;
}

.header-group a:hover, .header-button:hover {
  background-color: white;
  font-style: none;
  color: black
}

.header-title {
  font-size: 30px;
  color: white;
  margin: auto 10px;
}

.login-signup {
  width: 150px;
  margin: auto 10px;
}

.login-signup a {
  color: #4db6d0;
}

.login-link:hover, .signup-link:hover {
  color: white;
}
