.list-item {
  margin: 20px;
  background-color: red;
  position: relative
}

.list-item a {
  display: flex;
}

.logo {
  height: 100px;
  width: 250px;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

.list-information {
  margin: auto 20px;
}

.date {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
}
