.personal-form {
  margin-top: 100px;
}

.personal-form label {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.personal-form .caption{
  width: 100px;
}

.personal-form textarea {
  width: 65%;
  border: 0px;
  height: 100%;
  color: teal;
}

.skills.textarea {
  height: 125px;
}

.education.textarea {
  height: 40px;
}

.looking-for.textarea {
  height: 150px;
}

textarea:focus {
  outline: none;
}

.session-submit.submit-btn {
  position: absolute;
  width: 100px;
  margin: auto;
  left: calc(50% - 50px);
}
