.posting-header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.header-right {
  margin: auto 0px;
}


.description {
  white-space: pre-line;
  width: 80%;
  margin: 30px auto;
}

.back-btn {
  position: absolute;
  left: calc(100% - 150px);
  top: 75px;
  border: none;
  background-color: teal;
  color: white;
}

.posting-item .apply-btn {
  position: absolute;
  top: 75px;
  left: 100px;
}
