.posting-index-header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 20px;
}

.posting-index-header div {
  margin: auto 10px;
}

.header-title {
  color: teal;
}

.header .header-title {
  color: white;
}
