.session-form-container {
  margin-top: 100px;
  text-align: center;
}

.posting {
  margin-top: 40px;
  text-align: center;
}

.session-title, .posting-title {
  font-size: 20px;
}

.session-form input {
  border: none;
  color: teal;
  margin: 10px;
  width: 250px;
}

.posting-form input {
  border: none;
  color: teal;
  margin: 10px;
  width: 500px;
}

.posting-description {
  height: 100px;
}

.session-form .submit-btn, .posting-form .submit-btn {
  color: white;
  height: 30px;
  width: 250px;
  margin: 10px;
}
