.session-form-container {
  margin-top: 100px;
  text-align: center;
}

.session-title {
  font-size: 20px;
}

.session-form input {
  border: none;
  color: teal;
  margin: 10px;
  width: 250px;
}

.session-form .submit-btn {
  color: white;
  height: 30px;
  width: 250px;
  margin: 10px;
}
